# --- FASTAPI & SERVER ---
fastapi>=0.111.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9

# --- DATABASE & AUTH ---
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
pydantic-settings>=2.3.0
pydantic[email]>=2.7.0

# --- DATA PROCESSING & AI ---
transformers>=4.40.0
tensorflow>=2.16.0
PySastrawi>=1.0.
scikit-learn>=1.4.0
# Menggunakan pandas versi stabil terbaru
pandas>=2.2.0
numpy>=1.26.0
# Memilih salah satu: Kalau model LSTM-mu pakai PyTorch, hapus tensorflow
torch>=2.2.0
# Library untuk Gemini AI
google-genai>=2.6.0

# --- UTILITIES ---
requests>=2.33.1
python-dateutil>=2.9.0
nltk>=3.9.0
Sastrawi>=1.0.1